*{
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
   background-color: #282c34;
}
#root{
  width: inherit;
  min-width: 90%;
  min-height: 100%;
}
#portalContainer{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color:  #282c34;
  border-radius: 20px;
}
#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #282c34;
}
.portal #splitDiv{
  background-color: #30343b;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 80%;
}

.portal #infoDiv{
  display: inline;
  float: left;
  text-align: left;
}
.portal #lHalf{
  /* background-color: green; */
  /* color: green; */
  float: left;
  width: 50%;
  text-align: center;
  
}
.portal #rHalf{
  /* color: red; */
  /* background-color: red; */
  float: right;
  width: 50%;
  text-align: center;
}
.portal img{
  min-width: 64px;
  height: auto;
  width: 1000%;
  max-width: 40%;
}
.loginPage #h1{
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  float: left;
}
.loginPage #loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.loginPage #input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.loginPage #btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
.loginPage p{
  font-size: 15px;
  color: red;
  font-style: italic;
  margin-left: 10;
}

