*{
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}


html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
   background-color: #282c34;
}
#root{
  width: inherit;
  min-width: 90%;
  min-height: 100%;
}
#portalContainer{
  /* background-color: green; */
  height: 91%;
    background-image: url("D:/Uni/Cab432-CloudComputing/Assignment2/Minecraft-Host/client/src/images/Minecraft-Background-Image.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color:  #282c34;
}
.savedWorlds{
  display: inline-flex;
  height: px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.savedWorlds #h3{
  padding: 0;
  margin: 0;
}
#h3{
  margin-top: 10px;
}

.worldDiv{
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  height: 65px;
  width: auto;
  text-align: center;
  display: flex;
 
}
.worldDiv #img-container{
  float: left;

}
.worldDiv #info{
  text-align: left;
  padding: 0;
  margin: 0;
  max-width: 300px;
  display: inherit;
}
.worldDiv p{
  padding: 0;
  margin: 10px 10px 10px 10px;
  font-size: .7em;
}
.worldDiv #buttonDiv{
  padding: 0;
  margin: 0;
  float: right;
  display: inherit;

}

#loginContainer {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #282c34;
}
.portal #splitDiv{
  background-color: #30343b;
  opacity: 0.9;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  /* height: 100%; */
  width: 60%;
  min-width: 650px;
  
}

.portal #infoDiv{
  display: inline;
  float: left;
  text-align: left;
}
.portal #lHalf{
  /* background-color: green; */
  /* color: green; */
  float: left;
  width: 50%;
  text-align: center;
  
}
.portal #rHalf{
  /* color: red; */
  /* background-color: red; */
  float: right;
  width: 50%;
  text-align: center;
}
.portal img{
  min-width: 64px;
  height: auto;
  width: 1000%;
  max-width: 40%;
}
.loginPage #h1{
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  float: left;
}
.loginPage #loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.loginPage #input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.loginPage #btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  max-height: 332px;
  margin-top: 0;
  margin-left: 0;
}
.loginPage p{
  font-size: 15px;
  color: red;
  font-style: italic;
  margin-left: 10;
}
button{
  max-height: 30px;
  min-height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}
